#container {
    margin: 10px auto;
    width: 400px;
    border: 1px solid black;
}

#container ul {
    list-style: none;
    margin: 10px;
    margin-block-end: 0;
}

#container ul li {
    margin: 10px;
    width: 200px;
}

input {
    width: 255px;
    height: 30px;
}

button {
    margin-left: 94px;
    width: 87px;
    height: 30px;
    border-radius: 10px;
}

#mainhead {
    width: 80%;
    margin: 10px auto;
    background: blueviolet;
    text-align: center;
    height: 30px;
}

#errormessage {
    display: none;
}